.chart__box {
  padding: 20px;
  width: 70%;
  background-color: white;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  .chart__box {
    width: 100%;
  }
}
