.home-menus__container {
  width: 80%;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
  margin: 0 auto;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 10px 5px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 5px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 5px -10px rgba(0, 0, 0, 0.75);
}

.home-menus {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  gap: 20px;
}

.home-menus-dark {
  background-color: #333333;
  color: #cccccc;
}

.home-menus__title {
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid rgb(180, 180, 180);
  padding: 10px 0;
  color: darkslategrey;
}

.home-menus__title-dark {
  color: #f4f4f4;
}

.home-menus__title-div {
  position: relative;
}

.select-menu {
  position: absolute;
  right: 0;
  top: -3px;
}

.menu-icon {
  width: 180px;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-icon:hover {
  -webkit-animation: heartbeat 2.5s ease-in-out infinite both;
  animation: heartbeat 2.5s ease-in-out infinite both;
}

.menu__icon-picture {
  width: 70px;
  background-color: rgb(235, 235, 235);
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 5px;
}

.home__expand-btn {
  margin: -25px auto 25px auto;
  font-size: 2rem;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: white;
  border: 1px solid rgb(180, 180, 180);
  -webkit-box-shadow: 0px 10px 5px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 5px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 5px -10px rgba(0, 0, 0, 0.75);
}

.home__charts {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 10px 5px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 5px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 5px -10px rgba(0, 0, 0, 0.75);
}

.home__charts__container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 385px;
  height: 300px;
}

.home__main-chart {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 0px;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@media screen and (max-width: 1500px) {
  .home-menus {
    grid-template-columns: repeat(5, 1fr);
  }

  .home__charts__container {
    padding-top: 450px;
  }
}

@media screen and (max-width: 1250px) {
  .home-menus {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .home-menus {
    grid-template-columns: repeat(3, 1fr);
  }

  .home__charts {
    display: none;
  }

  .home-menus__title-div {
    display: flex;
    flex-direction: column;
  }

  .select-menu {
    position: initial;
    margin: 0 auto;
  }
}

@media screen and (max-width: 750px) {
  .home-menus {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .home-menus__container {
    width: 100%;
  }

  .menu-icon {
    width: 100%;
  }
}
