.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgb(180, 180, 180);
  margin-bottom: 50px;
  color: darkslategrey;
  -webkit-box-shadow: 0px 10px 5px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 5px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 5px -10px rgba(0, 0, 0, 0.75);
}

.navigation-bar__right {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 130px;
}

.navigation-bar__logo {
  height: 40px;
  border-radius: 15px;
}

.navbar__icon {
  width: 30px;
}

.navbar-dark {
  background-color: #2f3d40;
}

.navbar-title {
  font-size: 3rem;
}

.navbar-title-dark {
  color: #f4f4f4;
}

#root > div > div > div.navigation-bar.navbar-light > div > div > button {
  margin-left: 0px;
}


@media screen and (max-width: 750px) {
  .navigation-bar {
    justify-content: space-between;
  }

  .navbar-title {
    font-size: 1.5rem;
  }

  .navigation-bar__logo {
    height: 30px;
    border-radius: 15px;
  }

  .navbar__icon {
    width: 30px;
  }

  .navigation-bar__right {
    gap: 5px;
    /* width: 100px; */
    justify-content: center;
  }
}
