.table-data__container {
  width: 80%;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
  margin: 0 auto;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 10px 5px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 5px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 5px -10px rgba(0, 0, 0, 0.75);
}

.search__input {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  position: relative;
}

.search__input input {
  width: 450px;
  height: 2rem;
  padding: 10px;
}

.search__list-container {
  position: absolute;
  top: 32px;
  width: 450px;
  max-height: 400px;
  overflow-y: scroll;
}

.search__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid #333333;
  color: darkslategrey;
  background-color: white;
  height: 50px;
  padding: 5px;
}

.search__option-symbol {
  font-size: 1rem;
  max-width: 20%;
}

.search__option-right {
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: flex-end;
  max-width: 80%;
}

.search__option-name {
  font-size: 0.8rem;
}

.search__option-region {
  font-size: 0.6rem;
}
