th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 5px;
  text-align: left;
  background-color: darkslategray;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-row-dark {
  color: white;
  background-color: rgb(60, 100, 100);
}

.table-row-dark:nth-child(even) {
  color: white;
  background-color: rgb(98, 122, 122);
}

.table-row-dark:hover {
  color: black;
  background-color: rgb(178, 204, 204);
}

tr:hover {
  background-color: #ddd;
}

.table__btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.data-table__btn {
  width: 100px;
  height: 2rem;
  color: #ddd;
  background-color: darkslategray;
}

.data-table__btn:disabled {
  background-color: #ddd;
  color: darkslategray;
}

.stock__data-table {
  width: 70%;
  margin: 50px auto;
}

@media screen and (max-width: 750px) {
  .stock__data-table {
    width: 100%;
  }
}
